wheel
nbresult
colorama
ipdb
ipykernel
yapf
matplotlib
pygeohash
pytest
seaborn
numpy
pandas
scipy
scikit-learn
google-cloud-bigquery
google-cloud-storage
google-api-core
googleapis-common-protos
protobuf
h5py
db-dtypes
pyarrow
xgboost

# Trick to install the version of Tensorflow depending on your processor: darwin == Mac, ARM == M1
tensorflow==2.10.0; sys_platform != 'darwin' # Windows & Ubuntu Intel chips

# prevent bq 3+ db-dtypes package error when running training from bq

python-dotenv
psycopg2-binary


# API
fastapi
pytz
uvicorn

# tests
httpx
pytest-asyncio
